<div class="container-fluid mt-lg-5 py-md-2">
  <div class="mt-md-5">
<!--    <a (click)="backButton()" class="backBtn" href="javascript:void(0)">-->
<!--      <img alt="" src="./assets/images/toggleBackArrow.svg">-->
      <span class="mx-3"> Back </span>
<!--    </a>-->
  </div>

  <div class="box">
    <div class="row justify-content-end editDiv">
      <!--  Edit button-->
<!--      <a href="javascript:void(0)" [routerLink]="['/dashboard/payroll/salary-mgt/edit', salaryData.id]" class="btn btnCustomColorPrimary btnEdit mt-md-4 mx-md-4 " ><img alt="" src="../../../../../assets/images/ic_round-edit.svg"> Edit-->
<!--      </a>-->

    </div>


    <!--    <div class="border-5 border-end">-->
    <div class="flex">
      <div class="row mx-md-5 ">


        <div class="col-md-8  px-md-5">
          <!--          <div class="row justify-content-end mt-md-5">-->
          <!--            &lt;!&ndash;  Edit button&ndash;&gt;-->

          <!--          </div>-->
          <div class="row mt-md-4">
            <!--            first row-->
            <div class="col-md-4 col-sm-12 mb-sm-3"><span class="txt">First Name</span>
              <p class="nameText">salaryData.firstName}}</p></div>
            <div class="col-md-4 col-sm-12 mb-sm-3"><span class="txt">Last Name</span>
              <p class="nameText">salaryData.lastName}}</p></div>
            <div class="col-md-4 col-sm-12 mb-sm-3"><span class="txt">Company Role</span>
              <p class="nameText">salaryData.companyRole}}</p></div>

          </div>
          <div class="row mt-md-4">
            <!--            second row-->
            <div class="col-md-4 col-sm-12 mb-sm-3"><span>Payee Type</span>
              <p class="nameText">salaryData.payeeType</p></div>
            <div class="col-md-4 col-sm-12 mb-sm-3"><span>Salary</span>
              <p class="nameText">salaryData.salary}}</p></div>
            <div class="col-md-4 col-sm-12 mb-sm-3"><span>Last Payment</span>
              <p class="nameText">salaryData.lastPay}}</p></div>

          </div>
          <div class="row mt-md-4">
            <div class="col-md-4 col-sm-12 mb-sm-3"><span>Next Payment</span>
              <p class="nameText">salaryData.nextPay}}</p></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
